.EditSurveyPage .Sidebar {
  padding: 0;
  border-left: 1px solid #ccc;
  background-color: #fff;
}

.EditSurveyPage .EditPanel {
  border: 1px solid #ccc;
  position: relative;
  background-color: #fff;
}
