.SurveyPreview {
  padding: 30px 0px 15px 0px;
}

.SurveyPreview header {
  padding: 15px 30px;
}

.SurveyPreview header.active {
  background-color: #f7f7f9;
}

.SurveyPreview ul li .question {
  padding: 15px 30px;
}

.SurveyPreview ul li .question h3 {
  margin: 5px 0;
}

.SurveyPreview .question.active {
  background-color: #f7f7f9;
}

.SurveyPreview .question .btn-group {
  visibility: hidden;
}

.SurveyPreview .question.active .btn-group {
  visibility: visible;
}
